<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>WorkDrive File Organizer</display-name>

    <!-- Zoho OAuth Config - set in context or override via env -->
    <context-param>
        <param-name>zoho.client.id</param-name>
        <param-value>1000.I7L8AIDAW8EIVJ0PW0O84NKMHAXBFV</param-value>
    </context-param>
    <context-param>
        <param-name>zoho.client.secret</param-name>
        <param-value>1c2192e08af94e368a964ac490624ef803f91f14ab</param-value>
    </context-param>
    <context-param>
        <param-name>zoho.refresh.token</param-name>
        <param-value>1000.2b029fb5856c03865a1fbc26ab6fe8cc.68d99f5609763c326609672f6d1e1126</param-value>
    </context-param>

    <!-- Folder IDs -->
    <context-param>
        <param-name>workdrive.main.folder.id</param-name>
        <param-value>40p8hd98b5756f2c84539a3f51d502ce71a51</param-value>
    </context-param>
    <context-param>
        <param-name>workdrive.sheet.folder.id</param-name>
        <param-value>40p8h29446519c04f4dff91ee78f820e7f567</param-value>
    </context-param>
    <context-param>
        <param-name>workdrive.writer.folder.id</param-name>
        <param-value>40p8h5d06015f11b04a01b07ab9b9cbfe83c2</param-value>
    </context-param>

    <!-- Servlets -->
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.workdrive.organizer.servlet.DashboardServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OrganizeServlet</servlet-name>
        <servlet-class>com.workdrive.organizer.servlet.OrganizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilesApiServlet</servlet-name>
        <servlet-class>com.workdrive.organizer.servlet.FilesApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizeServlet</servlet-name>
        <url-pattern>/organize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilesApiServlet</servlet-name>
        <url-pattern>/api/files</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>